.card {
  width: clamp(140px, 17%, 200px);
  display: flex;
  flex-direction: column;
  gap: $spacer-2;

  &:hover {
    cursor: pointer;

    & .card__image,
    .image--placeholder {
      transform: scale(1.05);
    }
  }

  & .image--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    transition: transform 0.3s linear;

    & svg {
      width: 80%;
      height: auto;
    }
  }

  &__image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s linear;
  }

  &__info-wrapper {
    & .info__name,
    .info__date {
      padding: 0;
      margin: 0;
    }

    .info__date {
      font-weight: 400;
    }

    & .info__rating {
      display: flex;
      gap: $spacer-3;
      margin-top: $spacer-1;
      align-items: end;

      & .rating__vote-count {
        font-size: 0.9rem;
        font-style: italic;
      }
    }
  }
}
