.navbar {
  border-bottom: $border-width solid rgba($primary, 0.5);
  height: $navbar-height;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: $spacer-3;
  margin-bottom: $spacer-6;
  background-color: $secondary;

  // display
  display: flex;
  align-items: center;
  gap: $spacer-6;

  &__wrapper {
    // display
    display: flex;
    align-items: center;
    gap: $spacer-6;

    @include breakpoint-max-width(s) {
      pointer-events: none;
      visibility: hidden;
      transform: translate(101%);
      transition: transform 0.3s ease-out, display 0.2s ease-in;
    }

    &--mobile {
      pointer-events: all;
      visibility: visible;
      flex-direction: column;
      position: fixed;
      background-color: $secondary;
      top: $navbar-height;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: $spacer-6;
      transform: translate(0);
    }
  }

  &__logo {
    margin-right: $spacer-6;
  }

  &__item {
    cursor: pointer;
    width: fit-content;
    background-color: inherit;

    //display
    display: flex;
    gap: $spacer-2;
    align-items: center;
  }

  .item {
    &__svg {
      width: 24px;
      height: 24px;
      fill: $primary;

      &--stroked {
        fill: none;
      }

      @include breakpoint-max-width(md) {
        display: none;
      }
    }
  }

  & .svg__path--stroked {
    stroke: $primary;
    stroke-width: 2;
    stroke-linecap: round;
  }

  &__burger {
    display: none;
    align-self: center;
    position: inherit;
    right: $spacer-3;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;

    @include breakpoint-max-width(s) {
      display: block;
    }

    &--opened {
      transform: rotate(90deg) scale(0.7);
    }

    & .burger__svg {
      $height: $navbar-height * 0.8;
      height: $height;
      width: $height;
    }
  }

  &__searchToggle {
    outline: none;
    border: none;
  }

  .search {
    outline: none;
    border: none;
    border-bottom: $border-width rgba($smoke-white, 0.5) solid;
    color: $primary;
    padding: $spacer-2 $spacer-3;
    position: inherit;
    top: $navbar-height;
    right: 0;
    left: 0;
    height: $navbar-height;
    background-color: $grey-90;

    & .spinner {
      $spinner-size: 24px;

      width: $spinner-size;
      height: $spinner-size;
      position: absolute;
      top: 50%;
      transform: translate(-120%, -50%);

      & .spinner--loading {
        border: 2px $primary solid;
        border-bottom: 2px $grey-70 solid;
      }
    }

    &__form {
      display: flex;
      align-items: center;
      height: 100%;
    }

    & .form {
      &__field {
        display: flex;
        justify-content: space-between;
        padding-inline: $spacer-9;
        width: 100%;

        & .field {
          &__input {
            border: none;
            outline: none;
            padding: $spacer-2 $spacer-1;
            width: 300px;
            background-color: inherit;
          }

          &__button {
            border: none;
            background-color: inherit;

            & .button__svg {
              align-self: center;
              fill: none;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
