.navbar {
  border-bottom: $border-width solid rgba($primary, 0.5);
  height: $navbar-height;
  position: relative;
  padding: $spacer-3;
  background-color: $secondary;

  // display
  display: flex;
  align-items: center;
  gap: $spacer-6;

  &__wrapper {
    // display
    display: flex;
    align-items: center;
  }
}
