.top-rated__wrapper {
  display: flex;
  justify-content: center;

  @include breakpoint-max-width(md) {
    overflow: hidden;
  }
}

.medias__title {
  padding: $spacer-3;
  margin-top: $spacer-5;
  font-weight: 400;
  text-align: center;
  color: $tertiary;
}

.top-rated-table {
  width: 70% !important;
  min-width: 30% !important;

  @include breakpoint-max-width(md) {
    width: 100%;
    overflow: hidden;
  }
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: solid $border-width rgba($primary, 0.3) !important;
  padding-bottom: $spacer-3;
}

.mat-column-name {
  font-size: 1.5rem;
  width: 25%;

  @include breakpoint-max-width(md) {
    font-size: 1.2rem;
  }
}

.mat-column-position {
  font-size: 1.5rem;
}

.mat-column-position,
.mat-column-year,
.mat-column-rating {
  @include breakpoint-max-width(md) {
    display: none;
  }
}
