<app-navbar></app-navbar>
<div class="dashboard__wrapper" @fade>
  <app-search class="search__wrapper"></app-search>
  <mat-tab-group #tabRef (selectedTabChange)="handleTabChange(tabRef.selectedIndex)" [selectedIndex]="lastActiveTab">
    <mat-tab label="TV-SHOWS" aria-label="Tab for TV-shows display" @fade>
      <ng-template matTabContent>
        <app-medias media="tv" [isSearchEmpty]="isSearchEmpty()" [topRated]="topRatedTvShows()"></app-medias>
      </ng-template>
    </mat-tab>
    <mat-tab label="MOVIES" aria-label="Tab for Movies display" @fade>
      <ng-template matTabContent>
        <app-medias media="movie" [isSearchEmpty]="isSearchEmpty()" [topRated]="topRatedMovies()"></app-medias>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>