<div class="detail__nav">
    <button class="nav__btn" (click)="goBack()">
        <svg class="btn__svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path class="btn-svg__path" d="M11 6L5 12M5 12L11 18M5 12H19" />
        </svg>
    </button>
    <p class="nav_name">{{ hero().title }}</p>
</div>
<div class="detail__wrapper">
    <app-hero class="hero__wrapper" [data]="hero()"></app-hero>
    <app-overview class="overview__wrapper" [data]="data()" [dataCast]="cast()" [media]="media"></app-overview>
</div>