<div class="overview__left">
    <div class="left__poster">
        @if(data().poster_path) {
        <img class="poster__image" [src]="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + data().poster_path" />
        }
    </div>
</div>
<div class="overview__right">
    <div class="right__description">
        <h4 class="description__title">Storyline</h4>
        <p class="description__body">{{ data().overview }}</p>
    </div>
    <div class="right__info">
        @if(media() === 'tv' && data()){
        <ul class="list--unstyled info__list">
            <li class="list__element">
                <p class="list__label">First Aired</p>
                <p class="list__value">{{ data().first_air_date }}</p>
            </li>
            <li class="list__element">
                <p class="list__label">Last Aired</p>
                <p class="list__value">{{ data().last_air_date }}</p>
            </li>

            <li class="list__element">
                <p class="list__label">Created By</p>
                <div class="list__value-container">
                    @for(creator of data().created_by; track creator.id) {
                    <p class="list__value">{{ creator.name }}</p>
                    }
                </div>
            </li>
            <li class="list__element">
                <p class="list__label">Seasons</p>
                <p class="list__value">{{ data().number_of_seasons }}</p>
            </li>
            <li class="list__element">
                <p class="list__label">Genre</p>
                <div class="list__value-container">
                    @for(genre of data().genres; track genre.id) {
                    <p class="list__value--contained">{{ genre.name }}</p>
                    }
                </div>
            </li>
            <li class="list__element">
                <p class="list__label">Episodes</p>
                <p class="list__value">{{data().number_of_episodes }}</p>
            </li>
            <li class="list__element">
                <p class="list__label">Status</p>
                <p class="list__value">{{ data().status }}</p>
            </li>
            <li class="list__element">
                <p class="list__label">Languages</p>
                <div class="list__value-container">
                    @for(language of data().spoken_languages; track $index) {
                    <p class="list__value">{{ language.english_name }}</p>
                    }
                </div>
            </li>
            <li class="list__element">
                <p class="list__label">Network</p>
                <div class="list__value-container">
                    @for(network of data().networks; track network.id) {
                    <p class="list__value">{{ network.name }}</p>
                    }
                </div>
            </li>
        </ul>
        }
        @if(media() === 'movie') {
        }

    </div>

    <!-- </div>
    <div class="stats">
        <ul class="nolist" *ngIf="type === 'movie'">
            <li *ngIf="data?.release_date | date">
                <div class="label">Released</div>
                <div class="value">{{ data?.release_date | date }}</div>
            </li>

            <li *ngIf="data?.runtime | time">
                <div class="label">Runtime</div>
                <div class="value">{{ data?.runtime | time }}</div>
            </li>
            <li *ngIf="data?.budget">
                <div class="label">Budget</div>
                <div class="value">${{ data?.budget | numberWithCommas }}</div>
            </li>
            <li *ngIf="data?.revenue">
                <div class="label">Revenue</div>
                <div class="value">${{ data?.revenue | numberWithCommas }}</div>
            </li>
            <li *ngIf="data?.genres.length">
                <div class="label">Genre</div>
                <div class="comma_" *ngFor="let genre of data?.genres">
                    <a [routerLink]="['/genres', genre?.id, type]">{{ genre?.name }}</a>
                </div>
            </li>
            <li *ngIf="data?.status">
                <div class="label">Status</div>
                <div class="value">{{data?.status}}</div>
            </li>
            <li *ngIf="data?.spoken_languages?.length">
                <div class="label">Language</div>
                <div class="comma_" *ngFor="let language of data?.spoken_languages">
                    <a>{{ language?.name }}</a>
                </div>
            </li>
        </ul>

        <ul class="nolist" *ngIf="type === 'tv'">
            <li *ngIf="data?.first_air_date | date">
                <div class="label">First Aired</div>
                <div class="value">{{ data?.first_air_date | date }}</div>
            </li>
            <li *ngIf="data?.last_air_date">
                <div class="label">Last Aired</div>
                <div class="value">${{ data?.last_air_date | date }}</div>
            </li>

            <li *ngIf="data?.created_by?.name">
                <div class="label">Created By</div>
                <div class="value">{{ data?.created_by?.name }}</div>
            </li>

            <li *ngIf="data?.season_number">
                <div class="label">Seasons</div>
                <div class="value">{{ data?.season_number }}</div>
            </li>
            <li *ngIf="data?.genres?.length">
                <div class="label">Genre</div>
                <div class="comma_" *ngFor="let genre of data?.genres">
                    <a [routerLink]="['/genres', genre?.id, type]">{{ genre?.name }}</a>
                </div>
            </li>
            <li *ngIf="data?.last_episode_to_air?.episode_number">
                <div class="label">Episodes</div>
                <div class="value">{{data?.last_episode_to_air?.episode_number}}</div>
            </li>
            <li *ngIf="data?.status">
                <div class="label">Status</div>
                <div class="value">{{ data?.status }}</div>
            </li>
            <li *ngIf="data?.languages">
                <div class="label">language</div>
                <div class="value">{{ data?.languages | languageName }}</div>
            </li>
        </ul> -->
    <!-- </div> -->
</div>