<div class="overview__left">
  <div class="left__poster">
    @if(data().poster_path) {
    <img class="poster__image" [src]="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + data().poster_path" />
    }
  </div>
</div>
<div class="overview__right">
  <div class="right__description">
    <h4 class="description__title">Storyline</h4>
    <p class="description__body">{{ data().overview }}</p>
  </div>
  <div class="right__info">
    @if(media() === 'tv' && data()){
    <ul class="list--unstyled info__list">
      <li class="list__element">
        <p class="list__label">First Aired</p>
        <p class="list__value">{{ data().first_air_date | date }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Last Aired</p>
        <p class="list__value">{{ data().last_air_date | date }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Created By</p>
        <p class="list__value">{{ data().created_by | arrayToList }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Seasons</p>
        <p class="list__value">{{ data().number_of_seasons }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Genre</p>
        <div class="list__value-container">
          @for(genre of data().genres; track genre.id) {
          <p class="list__value--contained">{{ genre.name }}</p>
          }
        </div>
      </li>
      <li class="list__element">
        <p class="list__label">Episodes</p>
        <p class="list__value">{{data().number_of_episodes }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Status</p>
        <p class="list__value">{{ data().status }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Languages</p>
        <div class="list__value-container">
          @for(language of data().spoken_languages; track $index) {
          <p class="list__value">{{ language.english_name }}</p>
          }
        </div>
      </li>
      <li class="list__element">
        <p class="list__label">Network</p>
        <p class="list__value">{{ data().networks | arrayToList }}</p>
      </li>
    </ul>
    }
    @if(media() === 'movie') {
    <ul class="list--unstyled info__list">
      <li class="list__element">
        <p class="list__label">Release</p>
        <p class="list__value">{{ data().release_date | date }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Revenue</p>
        <p class="list__value">$ {{ data().revenue | number }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Budget</p>
        <p class="list__value">$ {{ data().budget | number }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Duration</p>
        <p class="list__value">{{ data().runtime | runtime }}</p>
      </li>
      <li class="list__element">
        <p class="list__label">Genre</p>
        <div class="list__value-container">
          @for(genre of data().genres; track genre.id) {
          <p class="list__value--contained">{{ genre.name }}</p>
          }
        </div>
      </li>
      <li class="list__element">
        <p class="list__label">Languages</p>
        <div class="list__value-container">
          @for(language of data().spoken_languages; track $index) {
          <p class="list__value">{{ language.english_name }}</p>
          }
        </div>
      </li>
      <li class="list__element">
        <p class="list__label">Production</p>
        <p class="list__value">{{ data().production_companies | arrayToList }}</p>
      </li>
    </ul>
    }

  </div>
</div>