@import "../../../styles.scss";

.detail__nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 36px;
}

.detail__wrapper {
  display: flex;
  flex-direction: column;
}

.nav__btn {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 0;
  left: $spacer-3;
  cursor: pointer;
}

.btn__svg {
  width: 36px;
  height: 36px;
}
