/* You can add global styles to this file, and also import other style files */

// imports
@import "./styles/color";
@import "./styles/typography";
@import "./styles/mixins";
@import "./styles/variables";
@import "./styles/svg";

// components
@import "./styles/components/navbar";
@import "./styles/components/mediaCard";
@import "./styles/components/hero";
@import "./styles/components/overview";
@import "./styles/components/carousel";
@import "./styles/components/actor-card";
@import "./styles/components/search";
@import "./styles/components/dashboard";
@import "./styles/components/search-view";
@import "./styles/components/rating";
@import "./styles/components/top-rated";

// angular material
@import "./styles/m3-theme";

* {
  color: $primary;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  background-color: $secondary;
}

.hidden {
  visibility: hidden;
}

.list--unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.lazyload {
  display: block;
  min-height: 1px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.lazyloaded .lazyload {
  opacity: 1;
}
