/* You can add global styles to this file, and also import other style files */

// imports
@import "./styles/color";
@import "./styles/typography";
@import "./styles/mixins";
@import "./styles/variables";

// components
@import "./styles/components/navbar";

* {
  color: $primary;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: $secondary;
}

.hidden {
  visibility: hidden;
}
