@if(isSearchEmpty()) {
<h3>TOP RATED {{ media() === 'tv' ? 'TV-SHOWS' : 'MOVIES' }}</h3>
<div class="top-rated__wrapper">
    @for(item of topRated(); track $index) {
    <app-media-card (clickedItemEvent)="handleClickedMedia($event)" [imageSource]="item.imageSrc"
        [date]="media() === 'tv' ? item.first_air_date : item.release_date"
        [name]="media() === 'tv' ? item.name : item.title" [rating]="item.rating" [voteCount]="item.vote_count"
        [id]="item.id">
    </app-media-card>
    }
</div>
} @else {
<app-search-view [media]="media()" [searchResult]="searchResult()"></app-search-view>
}