@if(!isSearchValid()) {
<h3 class="medias__title">TOP RATED {{ media() === 'tv' ? 'TV-SHOWS' : 'MOVIES' }}</h3>
<div class="top-rated__wrapper">
  <table mat-table [dataSource]="topRated()" class="top-rated-table">
    <ng-container matColumnDef="position">
      <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <td mat-cell *matCellDef="let element">
        <app-media-card (clickedItemEvent)="handleClickedMedia($event)" [isDetailed]="false"
          [imageSource]="element.imageSrc" [id]="element.id">
        </app-media-card>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let element"> {{ element.name ? element.name : element.title }} </td>
    </ng-container>
    <ng-container matColumnDef="year">
      <td mat-cell *matCellDef="let element">
        @if(element.first_air_date) {
        <p>{{ element.first_air_date | year }}</p>
        } @else {
        <p>{{ element.release_date | year }}</p>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <td mat-cell *matCellDef="let element">
        <div class="info__rating">
          <app-rating [rating]="element.rating * 10"></app-rating>
          <p class="rating__vote-count">{{ element.vote_count }} votes</p>
        </div>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
} @else {
<app-search-view [media]="media()" [query]="query()" [searchResult]="searchResult()"></app-search-view>
}