@import "../../../styles.scss";

.top-rated-table {
  width: 80% !important;

  @include breakpoint-max-width(md) {
    width: 90%;
  }
  @include breakpoint-max-width(s) {
    width: 95%;
  }
}

.mat-mdc-row {
  border-bottom: solid $border-width rgba($primary, 0.3);
}

.mat-column-name {
  font-size: 1.5rem;
  width: fit-content;
}
